{% load static i18n %}
<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Collector, a banknote collection manager">
    <meta name="author" content="David Hernandez Aponte">

    <link rel="icon" href="{% static 'images/favicons/favicon.ico' %}">

    <title>Collector</title>

    <!-- Custom fonts for this template-->
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template-->
    <link href="{% static 'css/sb-admin-2.css' %}" rel="stylesheet">

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            {% if request.user.is_authenticated %}
            <a class="sidebar-brand d-flex align-items-center align-content-stretch justify-content-center" href="{% url 'dashboard' username=request.user.username %}">
                <div>
                    <img src="{% static 'images/isotipo2.png' %}" width="80%" alt="Collector">
                </div>
                <!-- <div class="sidebar-brand-text mx-3">Collector</div> -->
                <div class="sidebar-brand-text mx-3"><img src="{% static 'images/isologo.png' %}" width="100%" alt="Collector"></div>
            </a>
            {% else %}
            <a class="sidebar-brand d-flex align-items-center align-content-stretch justify-content-center" href="{% url 'home' %}">
                <div>
                    <img src="{% static 'images/isotipo2.png' %}" width="80%" alt="Collector">
                </div>
                <!-- <div class="sidebar-brand-text mx-3">Collector</div> -->
                <div class="sidebar-brand-text mx-3"><img src="{% static 'images/isologo.png' %}" width="100%" alt="Collector"></div>
            </a>
            {% endif %}

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            {% if request.user.is_authenticated %}
            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'dashboard' username=request.user.username %}">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>{% translate "Dashboard" %}</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                {% translate "Collections" %}
            </div>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    <i class="fas fa-fw fa-atlas"></i>
                    <span>{% translate "Albums" %}</span>
                </a>
                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">{% translate "Albums" %}:</h6>
                        <a class="collapse-item" href="{% url 'album_all_view' username=request.user.username %}">{% translate "Index" %}</a>
                        <hr class="my-0" style="width: 80%;">
                        <a class="collapse-item" href="{% url 'album_all_detail_view' username=request.user.username %}">{% translate "All banknotes" %}</a>
                        {% for album in obj_album %}
                        <a class="collapse-item" href="{% url 'album_detail_view' username=request.user.username pk=album.id slug=album.name|slugify %}">{{ album }}</a>
                        {% endfor %}
                    </div>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-fw fa-globe-americas"></i>
                    <span>{% translate "By country" %}</span>
                </a>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Country:</h6>
                        {% for item in list_countries %}
                        <a class="collapse-item" href="{% url 'album_country_view' username=request.user.username url_country=item.country %}">{{ item.country }}</a>
                        {% endfor %}
                    </div>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                    <i class="fas fa-fw fa-folder-plus"></i>
                    <span>{% translate "Manage" %}</span>
                </a>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">{% translate "Add" %}:</h6>
                        <a class="collapse-item" href="{% url 'album_create' username=request.user.username %}">{% translate "Album" %}</a>
                        <a class="collapse-item" href="{% url 'banknote_create' username=request.user.username %}">{% translate "Banknote" %}</a>
                    </div>
                </div>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>
            {% endif %}
        </ul>

        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Search -->
                    <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                        <div class="input-group">
                            <input type="text" class="form-control bg-light border-0 small" {% translate "Search for..." %} aria-label="Search" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                        </div>
                    </form>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto w-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small" placeholder={% translate "Search for..." %} aria-label="Search" aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>

                        <!-- Nav Item - User Information -->
                        {% if request.user.is_authenticated %}
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="{% url 'users:detail' request.user.username  %}" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{request.user.username}}</span>
                                <img class="img-profile rounded-circle" src="{% static 'images/undraw_profile_pic_ic5t.png' %}">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="{% url 'users:detail' request.user.username  %}">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    {% translate 'Profile' %}
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{% url 'account_logout' %}" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    {% translate 'Logout' %}
                                </a>
                            </div>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            {# URL provided by django-allauth/account/urls.py #}
                            <a id="sign-up-link" class="nav-link" href="{% url 'account_signup' %}">{% trans "Sign Up" %}</a>
                        </li>
                        <li class="nav-item">
                            {# URL provided by django-allauth/account/urls.py #}
                            <a id="log-in-link" class="nav-link" href="{% url 'account_login' %}">{% trans "Sign In" %}</a>
                        </li>
                        {% endif %}

                    </ul>

                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    {% block content %}
                    {% block breadcrumbs %}
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item" aria-current="page"><a href="{% url 'home' %}">{% translate 'Home' %}</a></li>
                        </ol>
                    </nav>
                    {% endblock breadcrumbs %}
                    {% endblock content %}

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            {% include "footer.html" %}
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">{% translate 'Ready to Leave?' %}</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">{% blocktranslate %}Select "Logout" below if you are ready to end your current session.{% endblocktranslate %}</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">{% translate 'Cancel' %}</button>
                    <a class="btn btn-primary" href="{% url 'account_logout' %}">{% translate 'Logout' %}</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{% static 'js/sb-admin-2.min.js' %}"></script>

    <!-- Page level plugins -->
    <!-- <script src="{% static 'vendor/chart.js/Chart.min.js' %}"></script> -->

    <!-- Page level custom scripts -->
    <!--   <script src="{% static 'js/demo/chart-area-demo.js' %}"></script>
  <script src="{% static 'js/demo/chart-pie-demo.js' %}" ></script> -->


</body>

</html>
